{{!This is the file that make the site looks same on different pages}}
<html>
    <body>
        <h3>Books by Rabindranath Tagore</h3>
        {{>navbar}}
        {{{body}}}
        <h4>Copy right by Thanuj Reddy Chamakura</h4>
    </body>
</html>