{{!This is the homepage. This is displayed}}
<html>
    <body>
        <p>This is a home page</p>
        <p>Thanks for visiting my books site. Click on the view books if you want to view books and click on the ordr book if you want to order</p>
    </body>
</html>