{{!This file will take order and also it will handle error in the same page}}
        <h3>Book Order Form</h3>
        <form action="http://localhost:3000/order" method="get">
            
            Quantity: <input type = "text" name = "quantity" value = '{{previous.quantity}}'/>
            {{#if errors.QuantityIllegal}}<i>Quantity must be a whole number at least 1</i>{{/if}}
    
            Books:
            
            <select name="book">
             <option value="select">Select Book</option>
            {{#each previous.book as |book|}}
            <option value="{{book.id}}" {{selected}}>{{book.Title}}</option>
            {{/each}}

            </select>

            {{#if errors.BookMissing}}<i>Please select a Book</i>{{/if}}
            <input type = "submit" value = "Place Order"/>
        </form>